@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "./variables.scss";

@mixin redBorder {
  border: 1px solid red;
}

// DARK MODE | LIGHT MODE

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.app {
  width: 100%;
  min-height: 100vh;

  &.dark {
    background-color: $secondary-color-dark;
    color: $font-color-dark;

    > .country {
      background-color: $primary-color-dark;
    }

    > .navbar {
      background-color: $primary-color-dark;
    }

    a {
      color: $font-color-dark;
    }

    button {
      background-color: $primary-color-dark;
    }

    .form__input {
      background-color: $primary-color-dark;
    }
  }

  &.light {
    background-color: $secondary-color-light;

    > .country {
      background-color: $primary-color-light;
    }

    > .navbar {
      background: $primary-color-light;
    }

    a {
      color: $font-color-light;
    }

    button {
      background-color: $primary-color-light;
    }

    .form__input {
      background-color: $primary-color-light;
    }
  }
}

.dark {
  background-color: $primary-color-dark;
}

.light {
  background-color: $primary-color-light;
}
// NAVBAR

.navbar {
  height: 8rem;
  background-color: $primary-color-dark;

  &__container {
    height: 100%;
    max-width: 140rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__title {
    font-size: 4rem;
    margin-right: auto;
  }

  &__button {
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: 2rem;
    cursor: pointer;
    transition: scale 0.2s;

    &:hover {
      scale: 1.1;
    }

    &:active {
      scale: 1.05;
    }
  }
}

// COUNTRY CONTAINER
.country-list {
  max-width: 140rem;
  margin: 5rem auto;
}
.country-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  flex-wrap: wrap;
}

// COUNTRY
.country {
  width: 30.5rem;
  height: 37rem;
  box-shadow: 0 0 2rem rgba($color: #000000, $alpha: 0.2);

  &__name {
    font-size: 2.4rem;
  }

  &__img {
    width: 100%;
    height: 170px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    height: 20rem;

    p {
      font-size: 1.5rem;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.loading {
  font-size: 6rem;
}

// COUNTRY PAGE

.single {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 140rem;
  margin: 5rem auto;
  font-size: 1.7rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    font-weight: 600;
  }
  &__img-container {
    flex: 0 0 50%;
  }

  &__description {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 3rem;
  }

  &__name {
    font-size: 5rem;
  }

  &__list {
    width: 100%;
    margin: 2rem 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    span {
      font-weight: 300;
    }
  }

  &__item {
    flex: 0 0 50%;
  }

  &__btn {
    font-family: inherit;
    color: inherit;
    padding: 1rem 2rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.1s;
    backface-visibility: hidden;

    &--back {
      align-self: flex-start;
      font-size: 2rem;
    }

    &:hover {
      scale: 1.01;
    }

    &:active {
      scale: 0.99;
      box-shadow: 0 0 0.2rem rgba(#19252c, 1);
    }
  }

  &__border {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }

  &__img {
    width: 100%;
  }
}

// INPUTS
.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(15rem, 30.5rem));
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-bottom: 5rem;

  &__input {
    padding: 1rem 2rem;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: 2rem;
    box-shadow: 0 0 2rem rgba($color: #000000, $alpha: 0.2);

    &--search {
      transition: width 0.3s;

      &:focus {
        border: none;
        outline: none;
      }
    }
    &--select {
      grid-column: 2;
      appearance: none;
      cursor: pointer;

      &:active {
        outline: none;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
