// DARK MODE
$primary-color-dark: #2a3742;
$secondary-color-dark: #202f37;
$font-color-dark: #f9f9f9;

// LIGHT MODE
$primary-color-light: #fffefe;
$secondary-color-light: #f7f6f6;
$font-color-light: #19181a;
